<!--<div class="jumbotron"> -->
  <div class="container">
    <ngb-tabset>
      <ngb-tab title="Home">
        <ng-template ngbTabContent>
          <br/><br/>
          <app-home></app-home>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Play">
        <ng-template ngbTabContent>
          <br/><br/>
          <app-play></app-play>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="About">
        <ng-template ngbTabContent>
          <br/><br/>
          <app-about></app-about>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Contact">
        <ng-template ngbTabContent>
          <br/><br/>
          <app-contact></app-contact>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="FAQ">
        <ng-template ngbTabContent>
          <br/><br/>
          <app-faq></app-faq>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
<!--</div>-->
