<div class="container">
  <p>
    Odds of Winning
  </p>

    <div class="row header-row-centered cell-border">
      <div class="col cell-border">Matching</div>
      <div class="col cell-border">Odds of Winning</div>
    </div>
    <div class="row">
      <div class="col border">6 of 6</div>
      <div class="col border">216,360,144,000</div>
    </div>
    <div class="row">
      <div class="col border">5 of 6</div>
      <div class="col border">2,884,801,920</div>
    </div>
    <div class="row">
      <div class="col border">4 of 6</div>
      <div class="col border">37,957,920</div>
    </div>
    <div class="row">
      <div class="col border">3 of 6</div>
      <div class="col border">492,960</div>
    </div>

</div>
