<p>
  Odds of Winning
</p>

<div class="row">
  <div class="col"></div>
</div>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="border">
    <div class="row">
      <div class="col border-right">
        &nbsp;
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>

  </div>
</div>
