/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ffefef;
}

.lottoball
{
  font-family: "Times New Roman", Times, serif;
  border: 0px solid #444444;
  height: 130px;
  width: 130px;
  color: mediumblue;
  font-size: 80px;
  text-align: center;
}

.redball
{
  background: url('assets/redBall.png') no-repeat center center;
  background-size: 120px 120px;
  text-shadow: 2px 2px 8px #FF0000;
}

.whiteball
{
  background: url('assets/whiteBall.png') no-repeat right top;
  background-size: 150px 150px;
  text-shadow: 2px 2px 8px #FF0000;
}

.cell-border {
  border: 1px solid #000000 !important;
}

.header-row-centered {
  text-align: center;
  color: white;
}
